body {
	font-family: Georgia;
  	font-size: 17px;
  	color: black;
  	margin-top: 0;
}
header {
	display: flex;
	position: fixed;
	align-items: center;
	font-family: Verdana;
	font-size: 14px;
	font-weight: bold;
	border-bottom: 1px solid black;
	background-color: white;
	z-index: 1;
	width: 100%;
	height: 90px;
}
.logo {
	display: flex;
	align-items: center;
	flex-grow: 1;
	padding-left: 30px;
}
.logo span {
	color: MediumAquamarine;
	margin-left: 10px;
}
header nav {
	padding-right: 40px;
}
nav span {
	display: inline-block;
	padding: 20px 10px;
}
a {
	color: black;
}
.main-content {
	display: flex;
	margin: 0 auto 78px auto;
    padding-top: 116px;
}
.column {
	display: flex;
	flex-direction: column;
	margin-right: 30px;
}
.column.large {
	width: 630px;
}
.column.medium {
	width: 300px;
}
.column.small {
	width: 240px;
}
.main-story {

}
.main-story .headline-image {
	background-image: url("../images/main-story.png");
	width: 630px;
	font-size: 40px;
	margin-top: 0;
}
.headline-image {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 300px;
	/*margin-top: 15px;*/
	font-family: Georgia;
  	font-weight: bold;
  	font-size: 30px;
  	color: white;
  	text-align: center;
}
.other-stories .headline-text{
}
.other-stories {
	display: flex;
	justify-content: space-between;
}
.story {
	display: flex;
	flex-direction: column;
	width: 300px;
}
.earth-backwards.headline-image {
	background-image: url("../images/fall-story.png");
}

.camera-erase.headline-image {
	background-image: url("../images/hipster.png");	
}
.cat-control.headline-image {
	background-image: url("../images/cat-story.png");
}
.bites h3{
	margin-bottom: 41px;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
}
.bites .bite {
	display: block;
	padding: 11px 20px;
	font-family: Verdana;
	font-size: 12px;
	background-color: WhiteSmoke;
	color: DimGray;
	border-bottom: 1px solid black;
}
footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 325px;
	font-size: 12px;
	font-family: Verdana;
	margin: auto;
	background-color: MediumAquamarine;
}
footer .title {
	display: inline-block;
	padding-right: 25px;
	border-right: 2px solid white;
	color: white;
	font-weight: bold;
	font-family: Georgia;
	font-size: 16px;
}
footer nav {
	display: inline-block;
	padding-left: 25px;
}
